[v-cloak] {
    display:none;
}
body{
    background-image: url("https://www.s.americanbanker.com/hiring-and-firing/assets/54t1hiRj6W/gettyimages-626702872_green-2560x1708.jpeg");
    background: url("../img/fondo.png");
    background: linear-gradient(70deg, #FFFFFF 40%,  #ff6464 40%);
    background: linear-gradient(70deg, rgba(218, 210, 153, 1),  rgba(176, 218, 185, 1));  
    background-image: linear-gradient(
    180deg,
    hsl(172deg 100% 31%) 0%,
    hsl(167deg 55% 41%) 10%,
    hsl(164deg 42% 47%) 25%,
    hsl(160deg 36% 52%) 47%,
    hsl(156deg 35% 57%) 65%,
    hsl(152deg 35% 61%) 76%,
    hsl(148deg 35% 65%) 84%,
    hsl(143deg 35% 69%) 90%,
    hsl(138deg 35% 73%) 95%,
    hsl(133deg 36% 77%) 100%
    );  
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}
main{
    align-items:center;
    justify-content: space-between;
}
.btn, .form-submit{
    background:#F3F4ED!important;
    color: #222222!important;
    border: none!important;
}
.btn:hover, .form-submit:hover{
    background: rgba(243, 244, 237, 0.8)!important;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(8, 8, 8, 0.7);
    padding: 0.5rem;
    min-height: 100vh;
}
.btn-login{
    color: #FFFFFF;
    margin: 0.5rem 0;
    font-weight: 400;
}
.my-4{
    margin-top: 0.5rem!important;
}
.jumbotron-warning{
    margin-bottom: 0.5rem;
}
.form-section{
    height: 100vh;
    background: rgba(255, 99,99, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: 1rem;
    width: 20rem;
    z-index: 100;
}
form input{
    margin: 0.5rem 0;
    font-size: 0.8rem;
}
.form-submit{
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
}
label{
    font-size: 0.9rem;
}
.password-lost{
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    padding-bottom: 0.5rem;
}
.form-options{
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
}
.form-options a{
    cursor: pointer;
}
h1, .jumbotron p, .jumbotron hr{
    color: #FFFFFF;
}
.warning p{
    margin: 0.5rem 0;
    font-weight: 300;
}
.display-none{
    display: none;
}
.lead{
    margin-bottom: 0.2rem;
}

@media screen and (min-width: 350px) {
    .jumbotron{
        padding: 1rem;
    } 
}
@media screen and (min-width: 393px){
    .jumbotron{
        padding: 2rem;
    }
}
@media screen and (min-width: 992px){
    .jumbotron{
        background: rgba(8, 8, 8, 0.6);
    }
    .my-4{
        margin-top: 1.5rem!important;
    }
    .form-section{
        background: inherit;
    }
    .form{
        /*margin-top: 4rem*/
    }
    .jumbotron{
        min-height: inherit;
    }
    .btn-login{
        display: none;
    }
}